<% include head.ejs %>
<title>Match Tag</title>
<header>
  <nav class='navBar'>
    <ul>
      <li class=''><a href='login'></a></li>
      <li class=''><a href='searchLocation'></a></li>
      <li class=''><a href='personalTag'></a></li>
    </ul>
  </nav>
</header>
<main class='detail'>
  <h1>
    <%= data.name + ', ' + data.age%>
  </h1>
  <% if (data.cover) { %>
  <div class='img-container'>
    <img alt src='/upload/<%= data.cover %>'>
  </div>
  <% } %>

  <section class='bio'>
    <h2>
      <%= data.pickupline %>
    </h2>
    <p>
      <%= data.description %>
    </p>
  </section>

  <section class='detailButtons'>
    <a href='/droppedTags' class='backBtn'>Terug</a>

    <% if (user.name === data.name) { %>
    <button id=deleteButton data-id='<%= data._id %>' class=delete>Verwijder Tag</button>
    <% } else { %>
    <a href='#' class='delete'>Stuur bericht</a>
    
    <form action='/<%= data._id %>/like?_method=PUT' method='POST'>
      <label for='superlike'>
        <input type='radio' id='superlike' name='like' value='1'>
        superlike
      </label>
      <button>Like</button>
    </form>
    
    <% } %>
  </section>
</main>
<% include tail.ejs %>