<% include head.ejs %>
<title>Match Tag</title>
<header>
  <nav class='navBar'>
    <ul>
      <li class=''><a href='/login'></a></li>
      <li class=''><a href='/searchLocation'></a></li>
      <li class=''><a href='/personalTag'></a></li>
    </ul>
  </nav>
</header>
<main class='detail'>
  <h1>
    <%= data.name + ', ' + data.age%>
  </h1>
  <% if (data.cover) { %>
  <div class='img-container'>
    <img alt src='/upload/<%= data.cover %>'>
  </div>
  <% } %>

  <section class='bio'>
    <h2>
      <%= data.pickupline %>
    </h2>
    <p>
      <%= data.description %>
    </p>

    <% if (user._id != data.likes) { %>
      <form action='/<%= collTitle %>/<%= data._id %>/like?_method=PUT' method='POST'>
        <button class="like">Like</button>
      </form>
      <% } else {%>
      <form action='/<%= collTitle %>/<%= data._id %>/unlike?_method=DELETE' method='POST'>
        <button class="liked">Unlike</button>
      </form>
    <% } %>
  </section>

  <section class="detailButtons">
    <a href="/<%= collTitle %>" class="backBtn">Terug</a>
    <% if (user.name === data.name) { %>
    <form action="/delete/<%= collTitle %>/<%= userId %>" method='POST'>
      <button id=deleteButton data-id="<%= data._id %>" class=delete>Verwijder Tag</button>
    </form>
    <% } else { %>
      <a href='#' class='delete'>Stuur bericht</a>
    <% } %>
  </section>
</main>
<% include tail.ejs %>