<% include head.ejs %>
<title><%= data.title %> - Match Tag</title>
<h1><%= data.name %></h1>
<% if (data.cover) { %>
<img
  alt
  src="/upload/<%= data.cover %>"
>
<% } %>
<p><%= data.description %></p>
<p>
  <button
    id=deleteButton
    data-id="<%= data.id %>"
    class=delete
  >Verwijder gebruiker</button>
</p>
<p><a href="/users">Ga terug naar alle gebruikers</a></p>
<% include tail.ejs %>
